
/* ABOUT US PAGE */

/* ABOUT US HERO SECTION */

.page-hero .container {
    margin-block: var(--margin-section);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 4rem;
}

.page-hero .container .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page-hero h3{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--color-text-dark-accent);
}

.page-hero h1 {
    font-size: 3rem;
    margin-block: 1rem 1rem;
}

.page-hero img {
    border-radius: var(--border-radius-img);
    box-shadow: var(--box-shadow-heavy);
}

/* SECTION: MISSION AND VISION */

.mission {
    background-color: var(--color-background-light);
}

.mission .container {
    padding-block: var(--margin-section);
}

.mission h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.slider-card {
    /* background-color: rgba(0,0,0,0.3); */
    display: flex;
    align-items: center;
    /* position: relative; */
    transform: translateX(75px);
}

.slider-img-container {
    width: 100%;
}


.slider-content {
    position: relative;
    left: -150px;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-background-white);
    border: 1px solid var(--color-text-dark-accent);
    border-left: 5px solid var(--color-primary-dark);
    padding: 4rem 2rem;
}

.slider-content h3 {
    margin-bottom: 1rem;
}